
<div class="body auth-body">
    <div class="auth-container">
        <form class="auth-form" method="post" action="">
            <img src="../../../assets/images/logo-qualitics-black.png" alt="Logo" class="logo"/>
    
            <div class="input-field">
                <label class='auth-field' for="username">Username</label>
                <input type="text" name="username" id="username" class='auth-field' autocomplete="on">
            </div>
    
            <div class="input-field">
                <label class='auth-field' for="pass">Password</label>
                <input type="password" name="password" id="pass" class='auth-field' autocomplete="on">
            </div>
    
            <div class="button auth-button">
                <button type="submit">LOGIN<i class="fa fa-check"></i></button>
            </div>
        </form>
    </div>
</div>
